<!DOCTYPE html>
<html>
    <head>

        <style>

        </style>
<!-- Corrected Boxicons link -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

<!-- Corrected Google Fonts link -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600">

<!-- Your custom stylesheet -->
<link rel="Stylesheet" href="style.css">
</head>
<body> 
    

    <!-- Header desgin -->
    <header> 
        <a href="theave.jpeg" class="logo"><i class="bx"></i>Ave's Headphones</a>
        <ul> 
            <li><a href="homepage.html" class ="active">Home</a>
            <li><a href="about.html">About Us</a></li>  
            <li><a href=contact.html>Contact</a></li> 
            <li><a href="techspecs.html">Tech Specs</a></li>
            <li><a href="headphones.html">Headphones</a></li>
            <li><a href="login.html">login</a></li>
        </ul>  

        <div class="header-icons"> 
            <i class="bx bx-cart"></i>
            <div class="bx bx-menu"></div>
            </div>
        </div>
    </header>
    



    </header>
    <br>
    <br>
</header>


    <center>
    <div class="about-text">
        <h1>About Us</h1>

        <p>Welcome to Ave's Headphones. My headphones are for individuals that are 13-18 years old and it's also catered towards autistic people with auditory issues. I launched these headphones due to headphones I have used in the past having several issues with them. Another pivotal reason for my creation was due to many of my competitors' headphones not having noise cancellation. The main issue we have here at my company with noise canceling headphones not being a standard is that it prevents autistic people from focusing on their work, giving their own personal space, and being able listen to their music with no interruptions. If you are dealing with mental health you can use my headphones it will help you calm down. </p>
        
        <audio controls autoplay> <source src="20 minute rain sound for deep sleep.mp3" type="audio/mpeg"> Your browser does not support the audio element. </audio>
        <audio controls autoplay> <source src="20 Minute Instant CALMING MUSIC, Relaxing Music, Calm Music, Relax (Headache Relief) Sleep Ezy.mp3" type="audio/mpeg"> Your browser does not support the audio element. </audio>
    
        <h1>Our Goal </h1>
        <p>
            My goal for my headphones is to have noise cancellation so you can listen to your favorite music without having any interruptions. Also to a strong and comfortable headband so they do not break easily. So if you are a music lover or if you are autistic person like me then these are the headphones for you.
            </p>
        
        </center>
    </div>
   
</body>

 
</html>

