<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ave's Headphones Website</title>
    
    <!-- Corrected Boxicons link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

    <!-- Corrected Google Fonts link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600">

    <!-- Your custom stylesheet -->
    <link rel="stylesheet" href="style.css">
    <style>
        h1{
            font: size 60px;
        }
        h2{
            font-size: 60px;
        }
        img{
            background-color: transparent;
        }
    </style>
</head>
<body>
<!-- Header design -->
<header>
    <a href="theave.jpeg" class="logo"><i class="bx"></i>Ave's Headphones</a>
    <ul> 
        <li><a href="homepage.html" class="active">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="techspecs.html">Tech Specs</a></li>
        <li><a href="headphones.html">Headphones</a></li>
        <li><a href="login.html">login</a></li>
    </ul>

    <div class="header-icons">
        <i class="bx bx-cart"></i>
        <div class="bx bx-menu"></div>
        </div>
    </div>
</header>


    <!-- -- home desgin -- --> 
    <section class="home">
        <div class="home-item">
            <div class="home-img">
                <img src="AH-Front_view_-removebg-preview copy.png" class="one" height="510" width="50">
            </div>
            <div class="Text">
                <h2>Gold and black</h2>
                <h2>$149.99</h2>
                <button>Buy Now</button>
            </div>
        </div>
        
        <div class="home-item">
            <div class="home-img">
                <img src="all-black-removebg-preview.png" class="one" height="510" width="50">
            </div>
            <div class="Text">
                <h2>All black</h2>
                <h2>$129.99</h2>
                <button>Buy Now</button>
            </div>
        </div>
        
        <div class="home-item">
            <div class="home-img">
                <img src="white-hp-removebg-preview.png" class="one" height="510" width="50">
            </div>
            <div class="Text">
                <h2>Pink and White</h2>
                <h2>$145.99</h2>
                <button>Buy Now</button>

            </div>
        </div>
    </section>


    </body>
    <html> 





