<!DOCTYPE html>
<html lang="en">
    <head>

        <style type="text/css"> 
        </style>
        
         <!-- Corrected Boxicons link -->
         <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
        
         <!-- Corrected Google Fonts link -->
         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600">
        
        <!-- Your custom stylesheet -->
        <link rel="Stylesheet" href="style.css"> 
        </head>
        <body> 
        
            <!-- Header desgin -->
            <header>
                <a href="theave.jpeg" class="logo"><i class="bx"></i>Ave's Headphones</a>
                <ul> 
                    <li><a href="homepage.html" class="active">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="techspecs.html">Tech Specs</a></li>
                    <li><a href="headphones.html">Headphones</a></li>
                    <li><a href="login.html">login</a></li>
                </ul>
            
                <div class="header-icons">
                    <i class="bx bx-cart"></i>
                    <div class="bx bx-menu"></div>
                    </div>
                </div>
            </header>

            <!-- -- home desgin -- -->
            <section class="home-text">
                <div class="home-img"></div>
                <img class ="Ave" src = "Aves_Headphonesbg.png">
            </div> 
            </section>
            <br>
            <br>
            <br>
            <br>
<div class  = "Text">
    <h1> what's in the box: Headphones and the charger </h2>
        <h2> Materials Headband: inner steel metal band with a cushioning
         <h2> Ear cushions: oval desgin and foam cushioning <h2>
        <h2> controls: Power button and a volume. </h2>
        <h2> weight: 16 oz 110g </h2>
        <h2> battery: 40 minutes of charging and 3 hours of battery life. </h2>
</div>
</body>
</html>

    
            
        




        